<%- include('partials/header') -%>
<%- include('partials/nav') -%>

<!-- News Container -->
<div class="container" id="newsContainer">
  <span>Only News</span>
  <div class="row">

      <% for(var i=0; i<4; i++) {%>
        <div class="col-md-3 col-sm-4">
          <div class="news card bg-dark text-white">
          </div>
        </div>
      <% } %>
      <div class="btnContainer">
<button class="btn btn-primary btn-sm " id='goBack'>Previous News</button>
<button class="btn btn-primary btn-sm " type="button" id='seeMore'>More News</button>
  </div>
</div>
</div>



<!-- Post Feed Container -->
  <div class="container" id="feedContainer">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
      <% for(var i=posts.length-1; i>=0; i--) {%>
        <div class="col-sm-12 mb-5">
          <div class="card mx-auto">
            <a href="/postPage/<%= posts[i]._id%>">
              <img class="card-img-top" src="<%= posts[i].image%>">
            </a>
            <div class="card-body">
              <!-- Like Button -->
              <button class="<%= posts[i].likes.toString().includes(user.id) ? "btn-danger" : "btn-primary" %> btn  fa fa-heart" type="submit"></button>
              <!-- Comment Button -->
              <button class="<%= posts[i].dislikes.toString().includes(user.id) ? "btn-danger" : "btn-primary" %> btn fas fa-thumbs-down" type="submit"></button>
              <!-- Share Button -->
              <button class="btn btn-primary fas fa-comment" type="submit"></button>
              <!-- Save or Bookmark Button -->
              <button class="btn btn-primary fas fa-bookmark float-end" type="submit"></button>

              <h5 class="card-title">
                <%= posts[i].post %>
              </h5>
              <!-- <p class="card-text">
                <%= posts[i].postBody %>
              </p> -->

            </div>
          </div>
        </div>
        <% } %>
    </div>


    <div class="container justify-content-center">
      <div class="text-center">
        <a class="btn btn-primary" href="/post">Return to Profile</a>
        <a class="btn btn-primary" href="/feed">Return to Feed</a>
      </div>
    </div>
  </div>
  <script src="js/webAPI.js"></script>
  <%- include('partials/footer') -%>
