<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body> -->
    <%- include('partials/header') -%>
    <div>
        <p><strong>User Name</strong>: <%= user.userName %></p>
        <p><strong>Email</strong>: <%= user.email %></p>
        <a href="/logout" class="col-3 btn btn-primary">Logout</a>
    </div>

    <h1>Posts</h1>
    <ul>
    <% post.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span><%= el.post %></span>
                <p><%= el.postBody %></p>
                <button class='del' > Delete </button>
                <img src="<%= el.image %>" alt="">
            </li>
    <% }) %>    
    </ul>

    

    <form action="/post/createPost" enctype="multipart/form-data" method='POST'>
        <input type="text" placeholder="Enter Post Title" name='post'>
        <input type="text" placeholder="Body of Post" name='postBody'>
        <input type="submit">
        <input type="file" class="form-control" id="imageUpload" name="file">
    </form>

    <div class="row justify-content-center mt-5">
        <a class="btn btn-primary" href="/feed">Return to Feed</a>
      </div> 
    <script src="js/main.js"></script>
    <%- include('partials/footer') -%>
